# PostgreSQL
POSTGRES_USER=jasper
POSTGRES_PASSWORD=changeme
POSTGRES_DB=jasperservice
POSTGRES_HOST_PORT=5432

# Redis
REDIS_HOST_PORT=6379

# App
JASPER_SERVICE_HOST_PORT=8080

# Named Datasources
DS_WEB001_URL=jdbc:postgresql://postgres:5432/db_for_app1
DS_WEB001_USER=user_app1
DS_WEB001_PASS=pass_app1
DS_WEB002_URL=jdbc:postgresql://some_other_host:5432/db_for_app2
DS_WEB002_USER=user_app2
DS_WEB002_PASS=pass_app2